body {
  background: cornflowerblue;
}

.contenedor {
  background: cornsilk;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 1px solid #000;
}
.header-site {
  color: rgb(172, 90, 90);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .header-site {
    /* Flex aqui*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
h1,
h2 {
  text-align: center;
  font-family: "IBM Plex Serif", serif;
}

nav {
  align-self: center;
}
nav a {
  color: rgb(172, 90, 90);
  font-family: "IBM Plex Serif", serif;
  text-decoration: none;
}
